
.info__networks{
    border-radius: 10px;
    height: 250px;
    background-color: #323232;
    width: 90%;
    margin: 5%;
    span{
        position: relative;
        bottom: 5px;
        margin-left: 20px;
    }
    .network__items{
        width: 80%;
        height: 50%;
        background: #25e321;
        margin: 20px;
        border-radius: 20px 0 20px 0;
        padding-top: 20px;
        a{
            margin: 10px;
        }
    }
}